@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
/*Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFEDE3;
  padding: 0px 20px;
}

header {
  padding: 0 40px;
  height: 85px;
  max-width: 1400px;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito Sans", sans-serif;
}
header .logo_wrap img {
  height: 40px;
}
header nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
header nav a {
  position: relative;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  transition: 300ms;
}
header nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FF7F63;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
header nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header .hire_btn {
  border: none;
  outline: none;
  padding: 6px 20px;
  background-color: #000000;
  color: #FFEDE3;
  border-radius: 50px;
  font-family: "Nunito Sans", sans-serif;
  transition: 200ms;
}
header .hire_btn:hover {
  cursor: pointer;
  background-color: #FF7F63;
  color: #000000;
  font-weight: 700;
}

.main_container {
  max-width: 1400px;
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 85px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.main_container .inner_left {
  width: 50%;
}
.main_container .inner_left .intro_wrap {
  font-weight: 700;
  font-family: "Bagel Fat One", cursive;
  font-size: min(3vw, 56px);
  display: grid;
}
.main_container .inner_left .intro_wrap .first_line {
  grid-row: 1;
  grid-column: 1;
}
.main_container .inner_left .intro_wrap .curve_arrow {
  grid-column: 2;
  grid-row: 1/span 2;
}
.main_container .inner_left .intro_wrap .second_line {
  grid-row: 2;
}
.main_container .inner_left .intro_wrap .second_line .highlight {
  padding: 0px 20px;
  background-color: #FF7F63;
  color: #FFEDE3;
  border-radius: 50px;
  font-weight: 500;
}
.main_container .inner_left .intro_wrap .third_line {
  grid-column: 1/span 2;
  grid-row: 3;
}
.main_container .inner_left .brief_question {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  margin-top: 50px;
  font-weight: 700;
  color: #858585;
}
.main_container .inner_left .work_btn {
  border: none;
  outline: none;
  padding: 10px max(2vw, 30px);
  color: #FFEDE3;
  background-color: #000000;
  border-radius: 6px;
  margin-top: 20px;
  transition: 200ms;
}
.main_container .inner_left .work_btn:hover {
  border-radius: 6px 50px 50px 6px;
  cursor: pointer;
  padding: 10px max(4vw, 40px);
}
.main_container .inner_right {
  width: 50%;
  padding: 80px;
  background: url(../img/hexagon_pattern.png);
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_container .inner_right .keywords_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.main_container .inner_right .keywords_wrap .keyword {
  border: 1px solid #8668FF;
  border-radius: 50px;
  color: #8668FF;
  padding: 5px 20px;
  transition: 500ms;
}
.main_container .inner_right .keywords_wrap .keyword:hover {
  background-color: #8668FF;
  color: #FFEDE3;
  cursor: default;
  transform: scaleX(1.1);
}/*# sourceMappingURL=style.css.map */