@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,900&family=Nunito:wght@900&family=Roboto:wght@900&display=swap');

$primary-color: #FEE8D5;
$secondary-color: #050505;
$accent-color: #610C27;

@mixin flexbox($align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Customize scrollbar width */
::-webkit-scrollbar {
    width: 7px;
    // display: none;
}
  
/* Customize scrollbar track */
::-webkit-scrollbar-track {
    background-color: $secondary-color;
    // display: none;
}
  
/* Customize scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    // display: none;
    // border: 2px solid $accent-color;
}
  
/* Customize scrollbar buttons */
::-webkit-scrollbar-button {
    background-color: transparent;
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    // padding: 0 50px;
    background-color: $primary-color;
    overflow-x: hidden;

}

.coverpage_wrap{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    z-index: 1;
    background-color: $secondary-color;
    font-family: 'Roboto', sans-serif;
    // display: none; // change to flex 
    flex-direction: column;
    @include flexbox(center, center);
    text-transform: uppercase;
    font-weight: 900;
    animation: coverpage 1000ms ease-out 700ms forwards;
    .hide{
        // background-color: #BD0034;
        overflow: hidden;
        h1{
            transform: translateY(100%);
        }
        .welcome_text{
            font-size: 48px;
            color: $primary-color;
            
        }
        .portfolio_text{
            color: transparent;
            font-size: 84px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $accent-color;
        }
    }
    
}

.slider{
    z-index: 2;
    position: absolute;
    background-color: $accent-color;
    width: 100vw;
    height: 100vh;  
    // border: 5px solid green;
    transform: translateY(100%);
}

// @keyframes coverpage {
//     0%{
//         top: 0;
//         left: 0;
//         border-radius: 0;
//     }
//     100%{
//         top: -200%;
//         left: 100%;
//         border-bottom-left-radius: 100%;
//     }
    
// }

.container{
    background-color: $primary-color;
}

header{
    @include flexbox(center, center);
    width: 100%;
    height: 75px;
    padding: 0 50px;
    .navbar_wrap{
        @include flexbox(center, space-between);
        width: 100%;
        max-width: 1440px;
        font-weight: 400;
        .logo{
            img{
                height: 50px;
            }
        }
        nav{
            @include flexbox(center, center);
            gap: 50px;
            #close_btn{
                display: none;
            }
            a{
                font-size: 14px;
                text-decoration: none;
                text-transform: uppercase;
                color: $secondary-color;
                transition: 200ms;
                position: relative;
                &:after{
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $accent-color;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    transition: transform 0.3s;
                }
                &:hover{
                  &:after{
                    transform-origin: bottom left;
                    transform: scaleX(1);
                  }  
                }
            }
        }
        .hire_me_btn{
            border: none;
            outline: none;
            font-size: 12px;
            padding: 8px 18px;
            text-transform: uppercase;
            color: $primary-color;
            background-color: $accent-color;
            border: 2px solid $accent-color;
            transition: 300ms;
            &:hover{
                border: 2px solid $accent-color;
                color: $accent-color;
                background-color: transparent;
                cursor: pointer;
            }
        }
            .hamburger{
                display: none;
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 24px;
            }
    }
}

.main_container_wrap{
    // scroll-snap-align: start;
    height: 100vh;
    min-height: 700px;
    cursor: default;
    @include flexbox(space-between, space-between);
    flex-direction: column;
    .main_content{
        // border: 3px solid red;
        min-height: 700px;
        padding: 0 50px;
        gap:50px;
        @include flexbox(center, center);
        flex-direction: column;
        .typewriting{
            font-size: 24px;
            font-weight: 500;
        }
        .focal_heading_wrap{
            .focal_heading{
                font-size: 96px;
                line-height: 96px;
                text-align: center;
                font-weight: 900;
            }
            .heading2{
                color: transparent;
                font-size: 96px;
                font-family: 'Roboto', sans-serif;
                -webkit-text-stroke-width: 2px;
                font-weight: 900;
                -webkit-text-stroke-color: $accent-color;
                // -webkit-text-fill-color: transparent; 
                transition: 400ms;
                &:hover{
                    color: $accent-color;
                }
            }
            .location{
                font-size: 16px;
                text-align: right;
            }
        }
        .buttons_wrap{
            margin-top: 4vh;
            @include flexbox(center, center);
            button{
                font-size: 18px;
                border: 0;
                outline: 0;
                padding: 10px 25px;
                margin: 5px;
                transition: 500ms;
            }
            .designer_btn{
                background-color: transparent;
                box-shadow: 
                0.1em 0.1em 0 0 $secondary-color,
                inset 6em 3.5em 0 0 $secondary-color;
                color: $primary-color;
                &:hover{
                    cursor: pointer;
                    box-shadow: 
                    0.1em 0.1em 0 0 $secondary-color,
                    inset 0.1em 0.1em 0 0 $secondary-color;
                    color: $secondary-color;
                }
            }
            .developer_btn{
                background-color: transparent;
                // border: 2px solid $accent-color;
                box-shadow: 
                    0.1em 0.1em 0 0 $accent-color,
                    inset 0.1em 0.1em 0 0 $accent-color;
                color: $accent-color;
                &:hover{
                    cursor: pointer;
                    // border-radius: 30px 0px 0px 30px;
                    box-shadow: 
                        0 0 0 0 $accent-color,
                        inset 6em 3.5em 0 0 $accent-color;
                    color: $primary-color;
                }
            }
        }
    }

}

.about_container_wrap{
    scroll-snap-align: start;
    background-color: $secondary-color;
    height: 100vh;
    min-height: 700px;
    width: 100vw;
    @include flexbox(center, center);
    .about_container{
        height: 100%;
        max-height: 800px;
        width: 50vw;
        max-width: 500px;
        padding: 50px 10px;
        @include flexbox(center, space-evenly);
        flex-direction: column;
        .description{
            color: $primary-color;
            text-align: center;
            font-size: 16px;
        }
        .exploreBtn{
            background-color: transparent;
            border: none;
            outline: none;
            box-shadow: 
                0.3em 0.3em 0 0 $accent-color,
                inset 0.3em 0.3em 0 0 $accent-color;
            color: $accent-color;
            // border-radius: 50px;
            padding: 15px 30px;
            transition: 200ms;
            &:hover{
                cursor: pointer;
                box-shadow: 
                        0 0 0 0 $accent-color,
                        inset 6em 3.5em 0 0 $accent-color;
                color: $primary-color;
            }
        }
    }
}
.horizontal-hr-wrap{
    @include flexbox(center, center);
    background-color: $secondary-color
}

#project-hr{
    border: 1px solid #610C27;
    
}

.project_container_wrap{
    background-color: $secondary-color;
    // border: 1px solid green;
    #project_animation{
        // font-size: 20px;    
        svg {
            display: block;
            font-size: 10.5em;
            width: 960px;
            height: 300px;
            margin: 0 auto;
        }
        .text-copy {
            fill: none;
            stroke: white;
            stroke-dasharray: 6% 29%;
            stroke-width: 5px;
            stroke-dashoffset: 0%;
            animation: stroke-offset 5.5s infinite linear;
        }
        
        .text-copy:nth-child(1){
          stroke: $accent-color;
          animation-delay: -1;
        }
        
        .text-copy:nth-child(2){
          stroke: $primary-color;
          animation-delay: -2s;
        }
        
        .text-copy:nth-child(3){
          stroke: $secondary-color;
          animation-delay: -3s;
        }
        
        .text-copy:nth-child(4){
          stroke: #BD0034;
          animation-delay: -4s;
        }
        
        .text-copy:nth-child(5){
          stroke: #FDB731;
          animation-delay: -5s;
        }
        
        @keyframes stroke-offset{
          100% {stroke-dashoffset: -35%;}
        }
    }
}



@media screen and (max-width:1024px){
    header{
        .navbar_wrap{
            .hire_me_btn{
                padding: 6px 16px;
            }
        }
    }
    .main_container_wrap{
        .main_content{

            .typewriting{
                font-size: 18px;
            }
            .focal_heading_wrap{
                .focal_heading{
                    font-size: 72px;
                    line-height: 72px;
                }
                .heading2{
                    font-size: 72px;
                }
                .location{
                    text-align: center;
                }
            }
        }
    }
    .project_container_wrap{
        #project_animation{
            svg{
                font-size: 7.5em;
                width: 750px;
            }
            .text-copy{
                stroke-width: 4px;
            }
        }
    }
}




@media screen and (max-width:750px){
    ::-webkit-scrollbar{
        display: none;
    }
    .coverpage_wrap{
        .hide{

            .welcome_text{
                font-size: 36px;
            }
            .portfolio_text{
                font-size: 60px;
            }
        }
    }
    header{
        padding: 0 25px;
        .navbar_wrap{
            .hire_me_btn{
                display: none;
            }
            nav{
                position: absolute;
                display: none;
                top: 0;
                left: 0px;
                width: 100vw;
                height: 100%;
                background-color: $secondary-color;
                flex-direction: column;
                #close_btn{
                    display: block;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: $primary-color;
                    font-size: 24px;
                    margin-top: 20px;
                }
                a{
                    color: $primary-color;
                    font-size: 18px;
                }
            }
            .hamburger{
                display: block;
            }
        }
    }
    .main_container_wrap{
        .main_content{  
            .typewriting{
                font-size: 16px;
            }
            .focal_heading_wrap{
                .focal_heading{
                    font-size: 60px;
                    line-height: 60px;
                }
                .heading2{
                    font-size: 60px;
                }
                .location{
                    font-size: 14px;
                }
            }
            .buttons_wrap{
                button{
                    font-size: 16px;
                }
                .designer_btn{
                    box-shadow: 
                    0 0 0 0 $secondary-color,
                    inset 6em 4em 0 0 $secondary-color;
                }
                .developer_btn{
                    &:hover{
                        box-shadow: 
                        0 0 0 0 $accent-color,
                        inset 6em 4em 0 0 $accent-color;
                    }
                }
            }
        }
        
    }
    .about_container_wrap{
        .about_container{
            width: 80vw;
        }
    }
    .project_container_wrap{
        #project_animation{
            svg{
                font-size: 10em;
                width: 300px;
            }
            .text-copy{
                stroke-width: 4px;
            }
        }
    }
}