@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #151515;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Nunito', sans-serif;
}

header .navbar {
  width: 70vw;
  height: 70px;
  border-radius: 0 0 20px 20px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
}

header .navbar a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.container_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 70px);
}

.container_home .bg_text {
  color: #000;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 160px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  position: absolute;
  z-index: 1;
}

.container_home .fg_text {
  text-align: center;
  text-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: 92.037%;
  /* 92.037px */
  color: white;
  z-index: 2;
  background: url(../img/backgroundtext.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
}

.quote_box {
  color: #4C4C4C;
  font-family: 'Nunito', sans-serif;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -100px;
}

#social {
  background-color: #000;
  height: 150px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 24px;
  border-radius: 0 20px 20px 0;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
/*# sourceMappingURL=style.css.map */